@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Orbitron:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Orbitron:wght@400;500;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');


*{
    margin:0 ;
    padding: 0;
    overflow-x: hidden!important;
}

body{
    font-family: 'Orbitron', sans-serif;
    min-width: 100%!important;
}

tr td, tr span{
    font-size: 1.3rem!important;
}

.section1{
    min-height: 80vh;
}

.section1 .title-div{
    background-color: rgb(102, 96, 96)!important;
}

h2{
    font-size:1.6rem ;
}

.center{
    margin-left: 50%;
    transform: translateX(-50%);
}

form img{
    height: 220px!important;
    border: solid 1px;
}

table{
    font-family: 'Kanit', sans-serif;
}

th{
    font-weight: bold;
    font-size: 1.2rem;
    
}

tfoot td{
    font-size: 1.2rem;
    /* font-weight: ; */
}

.text-danger{
    /* background-color: rgb(201, 58, 58)!important; */
    color: rgb(255, 10, 10)!important;
    font-size: 1.6rem!important;
}

footer img{
    width: 50%;
    max-width: 60px;
}

/* media query  */

@media (max-width: 1192px){
    form img{
        height: 160px!important;
    }

    th{
        font-size: 0.9rem;
    }
    .card-title{
        font-size: 0.9rem;
    }

    tr td, tr span{
        font-size: 1.1rem!important;
    }

    tfoot td{
        font-size: 1rem;
    }

} 


@media (max-width: 992px){
    .card-title{
        font-size: 0.8rem;
    }

    th{
        font-size: 0.8rem;
    }
 
    tr td, tr span{
        font-size: 1.1rem!important;
    }

    tfoot td{
        font-size: 1rem;
    }


    h2{
        font-size: 1.2rem;
    }

    
    .btn{
        font-size: smaller;
    }

} 


@media (max-width: 768px){
    form img{
        height: 250px!important;
    }
    .card-title{
        font-size:1rem;
    }

    th{
        font-size: 0.8rem;
    }

 
    tr td, tr span{
        font-size: 1rem!important;
    }

    tfoot td{
        font-size: 1.1rem;
    }

    h2{
        font-size: 1rem;
    }

    .btn{
        font-size: smaller;
    }

}


@media (max-width: 560px){
    form img{
        height: 250px!important;
    }
    .card-title{
        font-size:1rem;
    }

    th{
        font-size: 0.5rem;
    }

    label{
        font-size: 0.8rem;
    }

    input{
        font-size: smaller;
    }

    h2{
        font-size: 1rem;
    }

    .btn{
        font-size: smaller;
    }


   
}
