@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Orbitron:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Orbitron:wght@400;500;800&display=swap');


body{
    font-family: 'Orbitron', sans-serif;
}

.section1{
    min-height: 80vh;
}

.section1 .title-div{
    background-color: rgb(102, 96, 96)!important;
}

.center{
    margin-left: 50%;
    transform: translateX(-50%);
}

form img{
    height: 220px!important;
    border: solid 1px;
}


th{
    font-weight: lighter;
}

/* media query  */

@media (max-width: 1192px){
    form img{
        height: 160px!important;
    }
    .card-title{
        font-size: 1rem;
    }
} 


@media (max-width: 768px){
    form img{
        height: 250px!important;
    }
    .card-title{
        font-size:1rem;
    }
}
